@import "./responsive.scss";

.layout {
    height: 100vh;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px;

    @include large {
        background-color: rgb(225, 189, 241);
        max-width: 1280px;
    }

    @include medium {
        background-color: rgb(122, 212, 207);
        max-width: 768px;
    }

    @include small {
        background-color: rgb(228, 228, 136);
        max-width: 640px;
    }
}